figure {
  /* border: thin #c0c0c0 solid; */
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 100%;
  margin: auto;
}

figure>img {
  max-width: 100%;
  height: 300px;
}

figure>figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

@media (max-width: 992px) {
  figure>img {
    height: 250px;
  }
}

@media (max-width: 576px) {
  figure {
    max-width: 80vw;
  }

  figure>img {
    max-width: 80vw;
  }
}