figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 500px;
  margin: auto;
}

figure>img {
  max-width: 500px;
  max-height: 300px;
}

figure>figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

@media (max-width: 576px) {
  figure {
    max-width: 80vw;
  }

  figure>img {
    max-width: 80vw;
  }
}