/* Footer */

.footer {
  margin-top: 100px;
  width: 100vw;
  min-height: 100px;
  background-color: #2f4f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .footer {
    width: 100vw;
  }
}

.footer>h1,
.footer>p {
  color: #fff;
}